body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: Georgia, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#notice {
  color: green;
  text-align:center;
}

#wrapper {
  width:900px;
  margin: 30px auto;
}

#examples {
  margin: 0 auto;
  width: 868px;
  height: 63px;
  background-color:#000;
}

#notice, #footer {
  margin: 0 auto;
  width: 868px;
}

#congrats, #bottom {
  border-bottom: solid 1px #999;
  padding-bottom:10px;
}

#congrats {
  font-size:30px;
  line-height:35px;
  font-style:italic;
}
#name { color:#000; }

#footer form {width:101px; display:inline; line-height:24px;}

label { font-weight:bold; }

.desc {
  color:#999;
  font-style:italic;
}

a img {
  border:0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #058500; }

#errorExplanation p, .fieldWithErrors, #errorExplanation, li { font-family: Verdana, sans-serif !important;}

.fieldWithErrors {
  color:#fff;
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

