<% content_for :top_buttons do %>
  <div id="leftnav">
    <%= link_to "Home", "/#{@site.name}" %>
  </div>
<% end %>

<div class="graytitle"><%= @item.title %></div>
<ul class="pageitem">
  <li class="textbox">
    <%= show_rss_content(@item) %>
  </li>
</ul>