<div class="twitter">
	<img src="images/icon-contact.png" class="icon" alt="Twitter Icon" />
	<p>
	  This service is provided to you by <a href="http://www.coupling.nl/">Martijn Lafeber</a>, who likes <a href="http://www.infiniterun.com/">running</a>.
	</p>
</div>

<div class="clearfix divider"></div><!-- clearfix -->

<div class="twitter">
	<img src="images/icon-twitter.png" class="icon" alt="Twitter Icon" />
	<p id="TwitterUpdates">
	  Questions and suggestions are welcome via twitter; <a href="http://twitter.com/lafeber">@lafeber</a>.
	</p>
</div>

<div class="clearfix divider"></div><!-- clearfix -->

<div class="twitter">
  <%= link_to image_tag('blue/btn-go.png'), new_site_path %>
</div>
