<%= link_to image_tag('iphone-rss.png', :title => 'RSS to iPhone', :alt => 'RSS to iPhone'), new_site_path %><br />
<div id="examples">
  <a href="/seth"><img src="images/featured/seth.png" alt="iphone rss" title="iphone rss" /></a>
  <a href="/if"><img src="images/featured/if.png" alt="iphone rss" title="iphone rss" /></a>
  <a href="/ifdev"><img src="images/featured/ifdev.png" alt="iphone rss" title="iphone rss" /></a>
  <a href="/tc"><img src="images/featured/tc.png" alt="iphone rss" title="iphone rss" /></a>
  <a href="/tristan"><img src="images/featured/tristan.png" alt="iphone rss" title="iphone rss" /></a>
  <a href="/lafeber"><img src="images/featured/martijn.png" alt="iphone rss" title="iphone rss" /></a>
</div>