<%= image_tag('iphone-rss-small.png') %>
<div id="congrats">
  Congratulations!<br /><br />

  You've made a personal iPhone version of your RSS feed. You can visit it <a href="/<%= @site.name %>">here</a>.
  In mobile Safari, <img src="/images/add.png" alt="add" title="add" /> and <img src="/images/homescreen.png" alt="add" title="add" /> to see your icon.
  <a href="http://twitter.com/home?status=http://iphonify.net/ gave me my iPhone RSS">tweet</a> it to all your friends.
  <br /><br />
  I'd appreciate it if you'd <a href="#" onclick="getElementById('buybeer').submit();">buy me a beer</a>.
</div>