<div class="txt-l">
  <h2>Congratulations!</h2>

  You've made a personal iPhone version of your RSS feed. You can visit it <a href="/<%= @site.name %>">here</a>.<br /><br />

  In mobile Safari, press '+' and select 'Add to Home Screen' to see your icon.<br /><br />

  You can <a href="http://twitter.com/home?status=http://iphonify.net/<%= @site.name %> for the iPhone version of my site">tweet</a> it to all your friends.
  <br /><br />
  You should <a href="javascript:document.getElementById('donate-please').submit();">donate $2 or so</a> to keep this service ad-free.
</div>