<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Create an iPhone version of your RSS feed" />
  <meta name="keywords" content="iPhone RSS" />
  <title>Create an iPhone version of your RSS feed</title>
  <%= stylesheet_link_tag 'iphone-rss' %>
</head>
<body>
  <div id="wrapper">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
    <div id="footer">
      &copy; 2009 Martijn Lafeber - suggestions via <a href="http://twitter.com/lafeber">@lafeber</a> - if you like it, <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="10980472">
      <input type="image" src="http://www.iphonify.net/images/buybeer.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypal.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</body>
</html>